*.csv
*.txt
*.env

# ignore unfinished rakamin miniproject temporarily
Courses/RakaminMiniProject/1.\ Analyzing\ eCommerce\ Business\ Performance\ with\ SQL/
Courses/RakaminMiniProject/3.\ Predict\ Customer\ Personality\ to\ Boost\ Marketing\ Campaign\ by\ Using\ Machine\ Learning/

Courses/RakaminVIX/Kimia-Farma